* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Raleway', sans-serif;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.hero {
    background-image: url(https://images.unsplash.com/photo-1470229722913-7c0e2dbbafd3?auto=format&fit=crop&w=1950&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
    background-position: center;
    background-size: cover;
    height: 30vh;
    width: 100%;  
    display: flex;
}
h1, h2 {
    padding-top: 40px;
    color: #341c0a;
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 36px;
}
.song-1 {
    padding: 40px 0;
}